body, html
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url("/module/template/images/bg.jpg");
}

.wrapper
{
	min-height: 100vh;
	padding: 15px;
	position: relative;
	background: white;
}

@media (min-width: 1366px) {
	.wrapper
	{
		width: 80%;
		left: 10%;
		border: 1px solid #ddd;
	}
}

@media (min-width: 1600px) {
	.wrapper
	{
		width: 70%;
		left: 15%;
		border: 1px solid #ddd;
	}
}

@media print
{
	@page
	{
		margin: 0;
	}
	.wrapper
	{
		display: none;
	}
	#print-order-issue-books
	{
		display: inline-block !important;
	}
}

.heading
{
	background-color: #337ab7;
	border: 1px solid;
	border-color: #ddd;
	padding: 15px;
	margin: -15px -15px 15px -15px;
	font-weight: bold;
	color: #E2E4EF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.img-banner
{
	max-width: 100%;
	max-height: 100%;
}

.no-padding
{
	padding: 0px !important;
	margin: 0px !important;
}

.no-radius
{
	border-radius: 0px !important;
}

.content
{
	margin-bottom: 80px;
}

.footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: table;
	width: 100%;
	height: 60px;
}

.footer .footer-content
{
	display: table-cell;
	vertical-align: middle;
	padding-top: 25px;
	padding-bottom: 25px;
}

.text-80
{
	width: 80px;
}

.text-100
{
	width: 100px;
}

.text-120
{
	width: 120px;
}

.text-80, .text-100, .text-120, .text-default
{
	font-weight: bold;
	color: gray;
	text-align: left;
}

.table
{
	word-wrap: break-word;
}

ul.ui-autocomplete {
  z-index:1500;!important
}

.dropdown-menu:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
}

.modal-body {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

button:focus
{
	outline: 0 !important;
}

.on-top
{
	position: fixed;
	right: 50px;
	bottom: 50px;
}

.on-top button
{
	height: 50px;
}

.on-top button *
{
	font-size: 25px;
}

#show-loading-gif
{
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#show-loading-gif .modal-dialog
{
	width: auto;
	display: inline-block;
}